/* TODO 定制Bootstrap样式 */
/* TODO body的定制 */
body {
    font-family: "SimHei", "SimSun", Arial, sans-serif;
    color: #fff;
    padding-top: 70px;
    background-color: #0062a8;
}
/* TODO 导航条及组件 开始 */
/* TODO 导航条的整体样式 */
.navbar-default {
    background-color: #0071c5;
    border-color: #005ea4;
    border-bottom: 3px solid rgba(0,80,146,0.75);
}
/* TODO 导航条的品牌图标 */
.navbar-brand {
    height: 50px;
    width: 65px;
    height: 45px;
    margin-top: 5px;
    margin-right: 10px;
    background: url("../img/hdr-spr.png") no-repeat 0 -512px;
}
/* TODO 导航条的汉堡包按钮 */
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-default .navbar-toggle:hover {
    background-color: #005ea4;
}
/* TODO 导航条组件的下拉菜单 */
.navbar-default .navbar-nav>.active>a {
    color: #fff;
    background-color: #0071c5;
}
.navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #0081c6;
}
.dropdown-menu {
    background-color: #0071c5;
}
.dropdown-menu>li>a {
    color: #fff;
}

/* TODO 导航条组件的语言&登录 */
.navbar-default .navbar-nav>li>a {
    color: #fff;
    background-color: #0071c5;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: #0081c6;
}
.panel {
    color: #000;
    width: 400px;
}
/* TODO 导航条及组件 结束 */
/* TODO 页面主体内容 开始 */
.img-title {
    position: absolute;
    bottom: 20px;
    margin-left: 10px;
    margin-right: 20px;
}
.col-md-8,.col-md-12 {
    margin-bottom: 20px;
}
.col-md-12,.col-sm-6,.col-xs-12 {
    overflow: hidden;
    position: relative;
}
.half-mask {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 92.3%;
    position: absolute;
    top: 73%;
    left: 15px;
    padding: 15px;
    margin: 0 auto;
}
.half-mask:hover {
    top: 0;
    transition: top 200ms;
}
.media {
    padding: 30px 0px 30px 30px;
    background-color: #0071c5;
}
.media-body {
    border-left: 1px solid #00aeef;
}
.list-unstyled li {
    margin: 5px 0 5px 10px;
}
.list-unstyled li a {
    color: #fff;
}
/* TODO 页面主体内容 结束 */
/* TODO 页面版权注脚 开始 */
footer {
    color: #000;
    background-color: #f3f3f3;
    padding: 25px 0px;
}
footer .list-unstyled>li>a {
    color: #4B85D1;
}
footer .col-sm-6 .list-unstyled {
    min-height: 200px;
}
/* TODO 页面版权注脚 结束 */






